{% extends "szabalyozok/layout.html" %}

{% block content %}
<div class="col-md-10">
    <h3 class="text-left">{{ szabnev }} beszabályozás történet (bar, utolsó 15 bejegyzés)</h3>    <br>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>P1 nyomás</th>
            <th>P2 nyomás</th>
            <th>P1 ág alsó</th>
            <th>P1 ág felső</th>
            <th>P2 ág alsó</th>
            <th>P2 ág felső</th>
            <th>Bizt.lef.nyom.</th>
            <th>Dátum</th>
            <th>Oka</th>
            <th>Megjegyzés</th>
        </tr>
        </thead>
        <tbody>
        {% for diag in diagnosztika %}
        <tr>
            <td>{% if diag.p1_nyomas %} {{ diag.p1_nyomas }} {% endif %}</td>
            <td>{% if diag.p2_nyomas %} {{ diag.p2_nyomas }} {% endif %}</td>
            <td>{% if diag.p1_also_nyomas %} {{ diag.p1_also_nyomas }} {% endif %}</td>
            <td>{% if diag.p1_felso_nyomas %} {{ diag.p1_felso_nyomas }} {% endif %}</td>
            <td>{% if diag.p2_also_nyomas %} {{ diag.p2_also_nyomas }} {% endif %}</td>
            <td>{% if diag.p2_felso_nyomas %} {{ diag.p2_felso_nyomas }} {% endif %}</td>
            <td>{% if diag.biztlef_nyomas %} {{ diag.biztlef_nyomas }} {% endif %}</td>
            <td>{% if diag.diag_datum %} {{ diag.diag_datum }} {% endif %}</td>
            <td>{% if diag.diagnosztikaok %} {{ diag.diagnosztikaok }} {% endif %}</td>
            <td>{% if diag.megjegyzes %} {{ diag.megjegyzes }} {% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}