{% extends "szabalyozok/layout.html" %}

{% block content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="{% url 'szabalyozo_show' pk=szabid %}">Alapadatok</a></li>
    <li role="presentation"><a href="{% url 'szabtart_show' pk=szabid %}">Tartozékok</a></li>
    <li role="presentation"><a href="{% url 'diagnosztika' pk=szabid %}">Beszabályozás</a></li>
    <li role="presentation"><a href="{% url 'szabmunka_show' pk=szabid %}">Szab. munkavégzés</a></li>
</ul>
<div class="col-md-6">
    <h3> {{ eszkoznev }} dokumentumai</h3>
    <br>
    <p>
            <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'doc_new' tip=tipus eszid=eszid spk=szabid %}'">Új dokumentum feltöltése</button>
    <br>
    </p>


    <table class="table table-striped ">
        <thead>
        <tr>
            <th>Dokumentum neve</th>
            <th>Kategória</th>
            <th>Feltöltés dátuma</th>
            <th>Mutat</th>
            <th>Törlés</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in doclist %}
        <tr>
            <td>{{ doc.doc_nev }}</td>
            <td>{% if doc.dockategoria %}{{ doc.dockategoria}}{% endif %}</td>
            <td>{{ doc.felt_datum}}</td>
            {% if doc.docfile %}
            <td>
                <button type="button" class="btn btn-primary" onclick="window.open('/media/{{doc.docfile}}')">
                    <span> Mutat</span>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger delete" onclick="
                    var r = confirm('Biztos, hogy törli?');
                    if (r == true) {
                        window.location.href = '{% url 'doc_del' tip=tipus pk=doc.id eszid=eszid spk=szabid %}';
                    }">
                    <i class="glyphicon glyphicon-trash"></i><span> Törlés</span>
                </button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}