<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'szabalyozok/content/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'szabalyozok/content/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'szabalyozok/content/datepicker.css' %}"/>
    <script src="{% static 'szabalyozok/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'szabalyozok/scripts/jquery-1.12.1.min.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'szabalyozok/images/favicon.ico' %}"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'szabalyozok' %}">Kezdőlap</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% include 'szabalyozok/loginpartial.html' %}
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Menü<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'szabalyozok' %}">Szabályozó keresés</a></li>
                        <li><a href="{% url 'terkep' %}" target="_blank">Szabályozó térkép</a></li>
                        <li role="separator" class="divider"></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'manometernew' %}">Manométer létrehozás</a></li>
                            <li role="separator" class="divider"></li>
                        {% endif %}
                            <li><a href="/admin">Admin</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'change_password' %}">Jelszó módosítás</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{% static 'szabalyozok/kezelesi_utmutato/szab_kezelesi.pdf' %}" target="_blank">Kezelési útmutató</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Riportok<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <!--    <li><a href="{% url 'riport_szabalyozok' %}">Szabályozók</a></li>
                        <li><a href="{% url 'riport_szabtartozekok' %}">Szab. tartozékok</a></li>
                        <li><a href="{% url 'riport_muszerek' %}">Műszerek</a></li>
                        <li><a href="{% url 'riport_diagnosztika' %}">Diagnosztikák</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'riport_szabmunkak' %}">Szabályozó munkák</a></li>
                        <li><a href="{% url 'riport_muszermunkak' %}">Műszer munkák</a></li>
                        <li role="separator" class="divider"></li> -->
                        <li><a href="{% url 'riport_szabalyozok' %}">Szabályozók riport</a></li>
                        <li><a href="{% url 'riport_szabtartozekok' %}">Tartozékok riport</a></li>
                        <li><a href="{% url 'riport_muszerek' %}">Műszerek riport</a></li>
                        <li><a href="{% url 'riport_diagnosztika' %}">Beszabályozások riport</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'riport_szabmunkak' %}">Szabályozó munkák riport</a></li>
                        <li><a href="{% url 'riport_muszermunkak' %}">Műszer munkák riport</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'riport_szabingatlan' %}">Szab. ingatlan riport</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'riport_dokumentumfilter' %}">Dokumentumok riport</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<script src="{% static 'szabalyozok/scripts/jquery-ui.js' %}"></script>
<script src="{% static 'szabalyozok/scripts/bootstrap.js' %}"></script>
<script src="{% static 'szabalyozok/scripts/respond.js' %}"></script>
<script src="{% static 'szabalyozok/scripts/lightbox.js' %}"></script>
<script>
  $(function() {
    $( ".datum" ).datepicker({
      showMonthAfterYear: true,
      changeMonth: true,
      changeYear: true,
      yearRange: "1950:2050",
      dateFormat: "yy.mm.dd.",
      regional: "hu"
    });
  });
 </script>
<script type="text/javascript">
    $.datepicker.regional['hu'] = {
        monthNamesShort: ['Jan', 'Feb', 'Már', 'Ápr', 'Máj', 'Jún', 'Júl', 'Aug', 'Szep', 'Okt', 'Nov', 'Dec'],
        dayNamesShort: ['H', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
        dayNamesMin: ['V', 'H', 'K', 'Sz', 'Cs', 'P', 'Szo'],
        firstDay: 1
    }

    $.datepicker.setDefaults($.datepicker.regional['hu']);

</script>
{% block scripts %}{% endblock %}
</body>
</html>
