{% extends "szabalyozok/riport_layout.html" %}

{% block content %}
<h1>Szabályozó diagnosztikák</h1>

<table id="riport" class="table table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Szab. állomás neve</th>
        <th>Terület</th>
        <th>Üzem</th>
        <th>Település</th>
        <th>P1 nyomás</th>
        <th>P2 nyomás</th>
        <th>P1 ág alsó</th>
        <th>P1 ág felső</th>
        <th>P2 ág alsó</th>
        <th>P2 ág felső</th>
        <th>Bizt.lef.nyom.</th>
        <th>dátuma</th>
        <th>Oka</th>
        <th>Megjegyzés</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Szabályozó</th>
        <th>Terület</th>
        <th>Üzem</th>
        <th>Település</th>
        <th>P1 nyomás</th>
        <th>P2 nyomás</th>
        <th>P1 ág alsó</th>
        <th>P1 ág felső</th>
        <th>P2 ág alsó</th>
        <th>P2 ág felső</th>
        <th>Bizt.lef.nyom.</th>
        <th>dátuma</th>
        <th>Oka</th>
        <th>Megjegyzés</th>
    </tr>
    </tfoot>
    <tbody>
    {% for diag in diagnosztikak %}
    <tr>
        <td>{% if diag.szabalyozo %} <a href="{% url 'diagnosztika' pk=diag.szabalyozo_id %}">{{diag.szabalyozo}}</a> {% endif %}</td>
            <td>{{ diag.szabalyozo.telepules.uzem.terulet }}</td>
            <td>{{ diag.szabalyozo.telepules.uzem }}</td>
            <td>{{ diag.szabalyozo.telepules }}</td>
            <td>{% if diag.p1_nyomas %} {{ diag.p1_nyomas }} {% endif %}</td>
            <td>{% if diag.p2_nyomas %} {{ diag.p2_nyomas }} {% endif %}</td>
            <td>{% if diag.p1_also_nyomas %} {{ diag.p1_also_nyomas }} {% endif %}</td>
            <td>{% if diag.p1_felso_nyomas %} {{ diag.p1_felso_nyomas }} {% endif %}</td>
            <td>{% if diag.p2_also_nyomas %} {{ diag.p2_also_nyomas }} {% endif %}</td>
            <td>{% if diag.p2_felso_nyomas %} {{ diag.p2_felso_nyomas }} {% endif %}</td>
            <td>{% if diag.biztlef_nyomas %} {{ diag.biztlef_nyomas }} {% endif %}</td>
            <td>{% if diag.diag_datum %} {{ diag.diag_datum }} {% endif %}</td>
            <td>{% if diag.diagnosztikaok %} {{ diag.diagnosztikaok }} {% endif %}</td>
            <td>{% if diag.megjegyzes %} {{ diag.megjegyzes }} {% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}