{% extends "szabalyozok/riport_layout.html" %}

{% block content %}
<h1>Szabályozó tertozékok</h1>
<table id="riport" class="table table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Szab. állomás neve</th>
        <th>Terulet</th>
        <th>Üzem</th>
        <th>Település</th>
        <th>Tartozék fajtája</th>
        <th>Gyártó</th>
        <th>Típusa</th>
        <th>Gyáriszám</th>
        <th>Szab.vez.mód</th>
        <th>Beüzemelés éve</th>
        <th>Beszerelés dátuma</th>
        <th>Megjegyzés</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Szab. állomás neve</th>
        <th>Terulet</th>
        <th>Üzem</th>
        <th>Település</th>
        <th>Tartozék fajtája</th>
        <th>Gyártó</th>
        <th>Típusa</th>
        <th>Gyáriszám</th>
        <th>Szab.vez.mód</th>
        <th>Beüzemelés éve</th>
        <th>Beszerelés dátuma</th>
        <th>Megjegyzés</th>
    </tr>
    </tfoot>
    <tbody>
    {% for szabtartozek in szabtartozekok %}
    <tr>
        <td>{% if szabtartozek.allomas_nev %} <a href="{% url 'szabtart_show' pk=szabtartozek.id %}">{{ szabtartozek.allomas_nev }}</a> {% endif %}</td>
        <td>{{ szabtartozek.terulet }}</td>
        <td>{{ szabtartozek.uzem }}</td>
        <td>{{ szabtartozek.telepules }}</td>
        <td>{{ szabtartozek.tartozekfajta }}</td>
        <td>{{ szabtartozek.tartozekgyarto }}</td>
        <td>{{ szabtartozek.tartozektipus }}</td>
        <td>{{ szabtartozek.gyariszam }}</td>
        <td>{{ szabtartozek.szabvezerles }}</td>
        <th>{{ szabtartozek.beuzemeles_ev }}</th>
        <th>{{ szabtartozek.beszereles_datum }}</th>
        <th>{{ szabtartozek.megjegyzes }}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}