{% extends "szabalyozok/riport_layout.html" %}

{% block content %}
<h1>Műszer munkák</h1>

<table id="riport" class="table table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Műszer fajta</th>
        <th>Műszer gyártó</th>
        <th>Műszer típus</th>
        <th>Gyáriszám</th>
        <th>Munkatípus</th>
        <th>Időpont</th>
        <th>Megjegyzes</th>
        <th>Műszer azon</th>
        <th>Dokumentumok</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Műszer fajta</th>
        <th>Műszer gyártó</th>
        <th>Műszer típus</th>
        <th>Gyáriszám</th>
        <th>Munkatípus</th>
        <th>Időpont</th>
        <th>Megjegyzes</th>
        <th>Műszer azon</th>
        <th>Dokumentumok</th>
    </tr>
    <tfoot>
    <tbody>
    {% for munka in muszermunkak %}
    <tr>
        <td>{{ munka.muszerfajta }}</td>
        <td>{{ munka.muszergyarto }}</td>
        <td>{{ munka.muszertipus }}</td>
        <td>{{ munka.gyariszam }}</td>
        <td>{{ munka.muszermunkatipus }}</td>
        <td>{{ munka.muszmunka_datum }}</td>
        <td>{{ munka.megjegyzes }}</td>
        <td>{{ munka.muszer_id }}</td>
        <td><a href="{% url 'simple_doc_list' tip='muszermunkak' eszid=munka.id %}">Dokumentumok</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}