{% extends "szabalyozok/riport_layout.html" %}

{% block content %}
<span style="margin-left:20px;">Dokumentumok riport</span>
    <div class="apply-filter-option">
        <div id="useFilterApplyButton"></div>
    </div>
    <div style="height: 85%;" id="gridContainer"></div>
    <div class="options">
        <div>
            <div id="filterRow"></div>
        </div>
        <div>
            <div id="headerFilter"></div>
        </div>
    </div>
<span style="margin-left:20px;">{{hiba}}</span>
<script>
var doklist = {{doklist|safe}};

$(function(){
    var dataGrid = $("#gridContainer").dxDataGrid({
        dataSource: doklist,
        key: 'id',
        allowColumnResizing: true,
       loadPanel: {
            enabled: true
        },
        scrolling: {
            mode: 'virtual'
        },
        columnFixing: {
            enabled: true
        },
        selection: {
            mode: "multiple"
        },
        "export": {
            enabled: true,
            fileName: "Dokumentumok riport",
            allowExportSelectedData: true
        },
        filterRow: {
            visible: true,
            applyFilter: "auto"
        },
        searchPanel: {
            visible: true,
            width: 240,
            placeholder: "Dokumentum keresés..."
        },
        headerFilter: {
            visible: true
        },
        columns: [
    	 {
		    caption: "Mutat",
			width: 120,
            alignment: 'center',
            cellTemplate: function (container, options) {
                $('<a/>').addClass('dx-link')
                    .text('Dokumentum')
                    .on('dxclick', function () {
                        var currentRow=$(this).closest("tr");
                        var doc_root = currentRow.find("td:eq(19)").text();
                        window.open('/media/' + doc_root, '_blank');
                    })
                    .appendTo(container);
                }
        },
    	 {
		    caption: "Állomáshoz",
			width: 120,
            alignment: 'center',
            cellTemplate: function (container, options) {
                $('<a/>').addClass('dx-link')
                    .text('Állomás')
                    .on('dxclick', function () {
                        var currentRow=$(this).closest("tr");
                        var szab_id = currentRow.find("td:eq(18)").text();
                        var ertek = szab_id * 1;
                        if (ertek == "" ) {
                            alert(" Nincs szabályozóhoz rendelve!")
                        } else {
                            window.open('/szabalyozok/'+ szab_id +'/szabtartshow/','_blank');
                        }
                    })
                    .appendTo(container);
                }
        },
        {
            dataField: "dockategoria",
            width: 200,
            caption: "Kategória",
        },
        {
            dataField: "felt_datum",
			width: 150,
            caption: "Feltöltés dátum",
            dataType: "date",
            format: "yyyy-MM-dd",
        },
        {
            dataField: "doc_nev",
            width: 300,
            caption: "Dokumentum neve",
        },
        {
            dataField: "doctipus",
            width: 100,
            caption: "doctipus",
        },
       {
            caption: "Szab. állomás neve",
			width: 300,
            dataField: "allomas_nev",
            dataType: "string",
        },
        {
            dataField: "terulet",
            width: 100,
            caption: "Terület",
        },
        {
            dataField: "uzem",
            width: 130,
            caption: "Üzem",
        },
        {
            dataField: "telepules",
            width: 150,
            caption: "Település",
        },
        {
            dataField: "ingatlan_telepules",
            width: 150,
            caption: "Ingatlan település",
        },
        {
            dataField: "foldhivatali_hrsz",
            width: 150,
            caption: "Földhivatali HRSZ",
        },
        {
            dataField: "muszerfajta",
            width: 250  ,
            caption: "Műszerfajta",
        },
        {
            dataField: "muszergyarto",
            width: 200  ,
            caption: "Műszer gyártó",
        },
        {
            dataField: "muszertipus",
            width: 200  ,
            caption: "Műszer tipus",
        },
        {
            dataField: "gyariszam",
            width: 200  ,
            caption: "Gyáriszám",
        },
        {
            dataField: "munkatipus",
            width: 200  ,
            caption: "Munkatípus",
        },
        {
            dataField: "szab_id",
            width: 120,
            caption: "Szab. Id",
            dataType: "number",
        },
        {
            dataField: "docfile",
            width: 150,
            caption: "File",
        },
        ],
        onSelectionChanged: function (selectedItems) {
            var data = selectedItems.selectedRowsData[0];
        }
    }).dxDataGrid('instance');

});

</script>
{% endblock %}
