{% extends "szabalyozok/riport_layout.html" %}

{% block content %}
<span style="margin-left:20px;">Tartozék riport</span>
    <div class="apply-filter-option">
        <div id="useFilterApplyButton"></div>
    </div>
    <div style="height: 85%;" id="gridContainer"></div>
    <div class="options">
        <div>
            <div id="filterRow"></div>
        </div>
        <div>
            <div id="headerFilter"></div>
        </div>
    </div>
<script>
var tartozekok = {{tartozekok|safe}};

$(function(){
    var dataGrid = $("#gridContainer").dxDataGrid({
        dataSource: tartozekok,
        key: 'id',
        allowColumnResizing: true,
       loadPanel: {
            enabled: true
        },
        scrolling: {
            mode: 'virtual'
        },
        columnFixing: {
            enabled: true
        },
        selection: {
            mode: "multiple"
        },
        "export": {
            enabled: true,
            fileName: "Tartozék riport",
            allowExportSelectedData: true
        },
        filterRow: {
            visible: true,
            applyFilter: "auto"
        },
        searchPanel: {
            visible: true,
            width: 240,
            placeholder: "Tertozék keresés..."
        },
        headerFilter: {
            visible: true
        },
        columns: [
    	 {
		    caption: "Művelet",
			width: 80,
            alignment: 'center',
            cellTemplate: function (container, options) {
                $('<a/>').addClass('dx-link')
                    .text('mutat')
                    .on('dxclick', function () {
                        var currentRow=$(this).closest("tr");
                        var customerId = currentRow.find("td:eq(16)").text();
                        window.open('/szabalyozok/'+ customerId +'/szabtartshow/','_blank');
                    })
                    .appendTo(container);
                }
        },
        {
            caption: "Szab. állomás neve",
			width: 300,
            dataField: "allomas_nev",
            dataType: "string",
        },
        {
            dataField: "terulet",
            width: 100,
            caption: "Terület",
        },
        {
            dataField: "uzem",
            width: 130,
            caption: "Üzem",
        },
        {
            dataField: "telepules",
            width: 150,
            caption: "Település",
        },
        {
            dataField: "tartozekfajta",
            width: 170,
            caption: "Tartozékfajta",
        },
        {
            dataField: "tartozekgyarto",
            width: 170,
            caption: "Tartozékgyártó",
        },
        {
            dataField: "tartozektipus",
            width: 150,
            caption: "Tartozéktipus",
        },
        {
            dataField: "gyariszam",
            width: 140,
            caption: "Gyáriszám",
        },
        {
            dataField: "elhelyezkedes",
            width: 80,
            caption: "Elhelyezkedés",
        },
        {
            dataField: "szabvezerles",
            width: 100,
            caption: "Szab.vezérlés",
        },
        {
            dataField: "beuzemeles_ev",
            width: 100,
            caption: "Beüzemelés éve",
            dataType: "number",
        },
        {
            dataField: "beszereles_datum",
            width: 100,
            caption: "Beszerelés dátum",
            dataType: "date",
            format: "yyyy-MM-dd",
        },
        {
            dataField: "megjegyzes",
            width: 300,
            caption: "Megjegyzés",
        },
        {
            dataField: "tartozek_id",
            width: 60,
            caption: "T.Id",
            dataType: "number",
        },
		{
            dataField: "id",
            width: 60,
            caption: "Sz.Id",
            dataType: "number",
        },
        ],
        onSelectionChanged: function (selectedItems) {
            var data = selectedItems.selectedRowsData[0];
        }
    }).dxDataGrid('instance');

});

</script>
{% endblock %}
