{% extends "szabalyozok/riport_layout.html" %}

{% block content %}
<span style="margin-left:20px;">Műszerek riport</span>
    <div class="apply-filter-option">
        <div id="useFilterApplyButton"></div>
    </div>
    <div style="height: 85%;" id="gridContainer"></div>
    <div class="options">
        <div>
            <div id="filterRow"></div>
        </div>
        <div>
            <div id="headerFilter"></div>
        </div>
    </div>
<script>
var muszerek = {{muszerek|safe}};

$(function(){
    var dataGrid = $("#gridContainer").dxDataGrid({
        dataSource: muszerek,
        key: 'id',
        allowColumnResizing: true,
       loadPanel: {
            enabled: true
        },
        scrolling: {
            mode: 'virtual'
        },
        columnFixing: {
            enabled: true
        },
        selection: {
            mode: "multiple"
        },
        "export": {
            enabled: true,
            fileName: "Műszerek riport",
            allowExportSelectedData: true
        },
        filterRow: {
            visible: true,
            applyFilter: "auto"
        },
        searchPanel: {
            visible: true,
            width: 240,
            placeholder: "Műszer keresés..."
        },
        headerFilter: {
            visible: true
        },
        columns: [
    	 {
		    caption: "Művelet",
			width: 80,
            //fixed: true,
            alignment: 'center',
            cellTemplate: function (container, options) {
                $('<a/>').addClass('dx-link')
                    .text('mutat')
                    .on('dxclick', function () {
                        var currentRow=$(this).closest("tr");
                        var customerId = currentRow.find("td:eq(25)").text();
                        var ertek = customerId * 1;
                        if (ertek == "" ) {
                            alert(" Ez a műszer nincs szabályozóhoz rendelve!")
                        } else {
                            window.open('/szabalyozok/'+ customerId +'/szabtartshow/','_blank');
                        }
                    })
                    .appendTo(container);
                }
        },
    	 {
		    caption: "Művelet",
			width: 80,
            //fixed: true,
            alignment: 'center',
            cellTemplate: function (container, options) {
                $('<a/>').addClass('dx-link')
                    .text('szerkeszt')
                    .on('dxclick', function () {
                        var currentRow=$(this).closest("tr");
                        var muszer_id = currentRow.find("td:eq(24)").text();
                        var muszer_text = currentRow.find("td:eq(8)").text();
                        if (muszer_text != "Manométer" ) {
                            alert(" Csak manométert tud szerkeszteni!")
                        } else {
                            location.href = '/manometer/'+ muszer_id +'/edit/';
                            // window.open('/manometer/'+ muszer_id +'/edit/');
                        }
                    })
                    .appendTo(container);
                }
        },
        {
            caption: "Szab. állomás neve",
			width: 300,
            //fixed: true,
            dataField: "allomas_nev",
            dataType: "string",
        },
        {
            dataField: "selejt",
            width: 80,
            caption: "Selejt",
			format: "boolean",
        },
        {
            dataField: "terulet",
            width: 100,
            caption: "Terület",
        },
        {
            dataField: "uzem",
            width: 130,
            caption: "Üzem",
        },
        {
            dataField: "telepules",
            width: 150,
            caption: "Település",
        },
        {
            dataField: "muszerfajta",
            width: 170,
            caption: "Műszerfajta",
        },
        {
            dataField: "muszergyarto",
            width: 170,
            caption: "Műszergyártó",
        },
        {
            dataField: "muszertipus",
            width: 150,
            caption: "Műszertipus",
        },
        {
            dataField: "elhelyezkedes",
            width: 80,
            caption: "Elhelyezkedés",
        },
        {
            dataField: "gyariszam",
            width: 140,
            caption: "Gyáriszám",
        },
        {
            dataField: "gyartas_ev",
            width: 80,
            caption: "Gyártás éve",
            dataType: "number",
        },
        {
            dataField: "mereshatar1",
            width: 100,
            caption: "Méréshatár 1",
        },
        {
            dataField: "mereshatar2",
            width: 100,
            caption: "Méréshatár 2",
        },
        {
            dataField: "osztalypontossag",
            width: 80,
            caption: "Osztálypontosság",
        },
        {
            dataField: "metrologia",
            width: 80,
            caption: "Metrológia",
        },
        {
            dataField: "kalib_ciklusido",
            width: 80,
            caption: "Kalib.ciklusidő",
        },
        {
            dataField: "kalib_datum",
            width: 120,
            caption: "Kalib.dátum",
            dataType: "date",
            format: "yyyy-MM-dd",
        },
        {
            dataField: "kov_kalib_datum",
            width: 120,
            caption: "Köv.kalib.dátum",
            dataType: "date",
            format: "yyyy-MM-dd",
        },
        {
            dataField: "beszereles_datum",
            width: 120,
            caption: "Beszerel.dátum",
            dataType: "date",
            format: "yyyy-MM-dd",
        },
        {
            dataField: "jegyzokonyv_szam",
            width: 150,
            caption: "Jegyzőkönyv száma",
        },
        {
            dataField: "megjegyzes",
            width: 300,
            caption: "Megjegyzés",
        },
        {
            dataField: "m_id",
            width: 60,
            caption: "Műszer Id",
            dataType: "number",
        },
		{
            dataField: "szab_id",
            width: 60,
            caption: "Szab.Id",
            dataType: "number",
        },
		 {
		    caption: "Dokumentumok",
			width: 120,
            alignment: 'center',
            cellTemplate: function (container, options) {
                $('<a/>').addClass('dx-link')
                    .text('Dokumentumok')
                    .on('dxclick', function () {
                        var currentRow=$(this).closest("tr");
                        var muszerId = currentRow.find("td:eq(24)").text();
                        window.open('/doc/muszer/' + muszerId + '/0/doclist/', '_blank');
                    })
                    .appendTo(container);
                }
        },
        ],
        onSelectionChanged: function (selectedItems) {
            var data = selectedItems.selectedRowsData[0];
        }
    }).dxDataGrid('instance');

});

</script>
{% endblock %}
