<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
    <title>Szab. riport demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <script src="{% static 'szabalyozok/scripts/jquery-3.1.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'szabalyozok/content/dx.spa.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'szabalyozok/content/dx.common.css' %}"/>
    <link rel="dx-theme" data-theme="generic.light" href="{% static 'szabalyozok/content/dx.light.css' %}"/>
    <script src="{% static 'szabalyozok/scripts/jszip.min.js' %}"></script>
    <script src="{% static 'szabalyozok/scripts/dx.all.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'szabalyozok/content/styles1.css' %}"/>
</head>
<body class="dx-viewport">
<div class="demo-container">
    <div class="apply-filter-option">
        <span>Szabályozó riport demo</span>
        <div id="useFilterApplyButton"></div>
    </div>
    <div id="gridContainer"></div>
    <div class="options">
        <div>
            <div id="filterRow"></div>
        </div>
        <div>
            <div id="headerFilter"></div>
        </div>
    </div>
</div>
<script>
var orders = {{szabalyozok|safe}};


$(function(){
    var dataGrid = $("#gridContainer").dxDataGrid({
        dataSource: orders,
        key: 'id',
        selection: {
            mode: "single"
        },
        "export": {
            enabled: true,
            fileName: "Szabályozók",
            allowExportSelectedData: true
        },
        filterRow: {
            visible: true,
            applyFilter: "auto"
        },
        searchPanel: {
            visible: true,
            width: 240,
            placeholder: "Search..."
        },
        headerFilter: {
            visible: true
        },
        columns: [
		 {
            caption: "ID",
			width: 50,
            dataField: "id",
        },
		 {
            caption: "Aktiv",
			width: 80,
            dataField: "aktiv",
			format: "boolean",
        },
		 {
		    caption: "Művelet",
			width: 100,
            alignment: 'center',
            cellTemplate: function (container, options) {
                $('<a/>').addClass('dx-link')
                    .text('mutat')
                    .on('dxclick', function () {
                        var currentRow=$(this).closest("tr");
                        var customerId = currentRow.find("td:eq(0)").text();
                        window.open('/szabalyozok/'+ customerId +'/show/','_blank');
                    })
                    .appendTo(container);
                }
        },
        {
            dataField: "azonosito",
            width: 100,
            caption: "azonosító kód",
        },
        {
            dataField: "grass_az",
            width: 100,
            caption: "Grass azonosító",
        },
        {
            dataField: "sap_pm_az",
            width: 250,
            caption: "SAP PM azonosító",
        },
        {
            dataField: "eszkozszam",
            width: 100,
            caption: "Eszközszám",
        },
        {
            dataField: "beruhazasi_szam",
            width: 100,
            caption: "Beruházási jelzőszám",
        },
        {
            dataField: "allomas_nev",
            width: 400,
            caption: "Állomás neve",
            headerFilter: {
                groupInterval: 10000
		}},
        {
            dataField: "terulet",
            width: 100,
            caption: "Terület",
        },
        {
            dataField: "uzem",
            width: 100,
            caption: "Üzem",
        },
        {
            dataField: "atado",
            width: 100,
            caption: "Átadó",
        },
        {
            dataField: "telepules",
            width: 100,
            caption: "Teleülés",
        },
        {
            dataField: "hrsz",
            width: 100,
            caption: "HRSZ",
        },
        {
            dataField: "telepules_kod",
            width: 100,
            caption: "Telepüéás kód",
        },
        {
            dataField: "telepites_ev",
            width: 100,
            caption: "Telepítés éve",
            format: "number",
        },
        {
            dataField: "tartozekgyarto",
            width: 200,
            caption: "Állomás gyártó",
        },
        {
            dataField: "szabkarb",
            width: 100,
            caption: "Kabantartó",
        },
        {
            dataField: "kivitel",
            width: 100,
            caption: "Kivitel",
        },
        {
            dataField: "elhelyezes",
            width: 100,
            caption: "Elhelyezés",
        },
        {
            dataField: "funkcio",
            width: 100,
            caption: "Funkció",
        },
        {
            dataField: "tulajdonjog",
            width: 100,
            caption: "Tulajdonjog",
        },
        {
            dataField: "tulajdonos",
            width: 100,
            caption: "Tulajdonos",
        },
        {
            dataField: "nev_prim_nyom",
            width: 100,
            caption: "Névleges P. nyomás",
            format: "number",
        },
        {
            dataField: "nev_sek_nyom",
            width: 100,
            caption: "Névleges Sek. nyomás",
            format: "number",
        },
        {
            dataField: "uz_prim_nyom",
            width: 100,
            caption: "Üzemi P. nyomás",
            format: "number",
        },
        {
            dataField: "uz_sek_nyom",
            width: 100,
            caption: "Üzemi Sek. nyomás",
            format: "number",
        },
        {
            dataField: "nev_kapacitas",
            width: 100,
            caption: "Kapacitás",
            format: "number",
        },
        {
            dataField: "nyom_din_rendszer",
            width: 100,
            caption: "Nyomás din.",
			format: "boolean",
        },
		],
        onSelectionChanged: function (selectedItems) {
            var data = selectedItems.selectedRowsData[0];
        }
    }).dxDataGrid('instance');

});



</script>
</body>
</html>