{% extends "szabalyozok/riport_layout.html" %}

{% block content %}

<p style="margin-left:20px;">Szabályozó ingatlan riport
<button style="margin-left:40px;" type="button" class="btn btn-success" onclick="window.location.href='{% url 'szabingatlan_new' %}'">Új szab. ingatlan</button>
</p>
    <div class="apply-filter-option">
        <div id="useFilterApplyButton"></div>
    </div>
    <div style="height: 85%;" id="gridContainer"></div>
    <div class="options">
        <div>
            <div id="filterRow"></div>
        </div>
        <div>
            <div id="headerFilter"></div>
        </div>
    </div>
<script>

$(function(){
    var dataGrid = $("#gridContainer").dxDataGrid({
        dataSource: "{% url 'riport_szabingatlan_api' %}",
        key: 'id',
       loadPanel: {
            enabled: true
        },
        scrolling: {
            mode: 'virtual'
        },
        columnFixing: {
            enabled: true
        },
        selection: {
            mode: "multiple"
        },
        "export": {
            enabled: true,
            fileName: "Szabályozó ingatlan riport",
            allowExportSelectedData: true
        },
        filterRow: {
            visible: true,
            applyFilter: "auto"
        },
        searchPanel: {
            visible: true,
            width: 240,
            placeholder: "Ingatlan keresés..."
        },
        headerFilter: {
            visible: true
        },
        scrolling: {
            mode: "virtual"
        },
        columns: [
		 {
		    caption: "Művelet",
			width: 100,
            alignment: 'center',
            cellTemplate: function (container, options) {
                $('<a/>').addClass('dx-link')
                    .text('Módosít')
                    .on('dxclick', function () {
                        var currentRow=$(this).closest("tr");
                        var ingid = currentRow.find("td:eq(35)").text();
                        location.href = '/szabingatlan/'+ ingid +'/edit/';
                    })
                    .appendTo(container);
                }
        },
		 {
		    caption: "Szabályozó",
			width: 100,
            alignment: 'center',
            cellTemplate: function (container, options) {
                $('<a/>').addClass('dx-link')
                    .text('Mutat')
                    .on('dxclick', function () {
                        var currentRow=$(this).closest("tr");
                        var szabid = currentRow.find("td:eq(36)").text();
                        Number(szabid);
                        if (szabid == 0) {
                            alert("Ehhez az ingatlanhoz nem tartozik szabályozó!")
                        } else {
                            window.open('/szabingatlan/'+ szabid +'/show/','_blank');
                        }
                    })
                    .appendTo(container);
                }
        },
		{
            caption: "Aktiv",
			width: 80,
            dataField: "aktiv",
			dataType: "boolean",
        },
        {
            dataField: "telepules",
            width: 150,
            caption: "Ingatlan település",
        },
        {
            dataField: "foldhivatali_hrsz",
            width: 100,
            caption: "Föld. HRSZ",
        },
        {
            dataField: "sajat_hrsz",
            width: 100,
            caption: "Saját HRSZ",
        },
        {
            dataField: "fekves",
            width: 120,
            caption: "Fekvés",
        },
        {
            dataField: "muvelesi_ag",
            width: 100,
            caption: "Művelési ág",
        },
        {
            dataField: "terulet_ingatlan",
            width: 120,
            caption: "Ingatlan területe (m2)",
            dataType: "number",
		},
        {
            dataField: "tulajdonos",
            width: 120,
            caption: "Tuljadon",
        },
        {
            dataField: "tulajdonhanyad",
            width: 100,
            caption: "Tulajdon hányad",
        },
        {
            dataField: "tulajdonosok_szama",
            width: 120,
            caption: "Tulajdonosok száma",
        },
        {
            dataField: "jogosultsag_allapot",
            width: 100,
            caption: "jogosultsag_allapot",
        },
        {
            dataField: "jogosultsag_tipus_1",
            width: 150,
            caption: "1 Jogosutság típus",
        },
        {
            dataField: "jogosultsag_m2_1",
            width: 80,
            caption: "1 Jogosult m2",
            dataType: "number",
        },
        {
            dataField: "jogosultsag_nev_1",
            width: 200,
            caption: "1 Jogosult név",
        },
        {
            dataField: "jogosultsag_tipus_2",
            width: 150,
            caption: "2 Jogosutság típus",
        },
        {
            dataField: "jogosultsag_m2_2",
            width: 80,
            caption: "2 Jogosult m2",
            dataType: "number",
        },
        {
            dataField: "jogosultsag_nev_2",
            width: 200,
            caption: "2 Jogosult név",
        },
        {
            dataField: "jogosultsag_tipus_3",
            width: 150,
            caption: "3 Jogosutság típus",
        },
        {
            dataField: "jogosultsag_m2_3",
            width: 80,
            caption: "3 Jogosult m2",
            dataType: "number",
        },
        {
            dataField: "jogosultsag_nev_3",
            width: 200,
            caption: "3 Jogosult név",
        },
        {
            dataField: "allomas_nev",
            width: 150,
            caption: "Állomás neve",
        },
        {
            dataField: "szab_terulet",
            width: 100,
            caption: "Terület",
        },
        {
            dataField: "uzem",
            width: 130,
            caption: "Üzem",
        },
        {
            dataField: "szab_telepules",
            width: 150,
            caption: "Település",
        },
        {
            dataField: "gps_lat",
            width: 100,
            caption: "GPS szélesség 1",
        },
        {
            dataField: "gps_long",
            width: 100,
            caption: "GPS hosszúság 1",
        },
        {
            dataField: "gps_lat_2",
            width: 100,
            caption: "GPS szélesség 2",
        },
        {
            dataField: "gps_long_2",
            width: 100,
            caption: "GPS hosszúság 2",
        },
        {
            dataField: "gps_lat_3",
            width: 100,
            caption: "GPS szélesség 3",
        },
        {
            dataField: "gps_long_3",
            width: 100,
            caption: "GPS hosszúság 3",
        },
        {
            dataField: "gps_lat_4",
            width: 100,
            caption: "GPS szélesség 4",
        },
        {
            dataField: "gps_long_4",
            width: 100,
            caption: "GPS hosszúság 4",
        },
		 {
            caption: "ingid",
			width: 60,
            dataField: "ingid",
        },
        {
            caption: "szabid",
			width: 60,
            dataField: "szabid",
        },
        {
            dataField: "megjegyzes",
            width: 300,
            caption: "Megjegyzés",
        },
		 {
		    caption: "Dokumentumok",
			width: 120,
            alignment: 'center',
            cellTemplate: function (container, options) {
                $('<a/>').addClass('dx-link')
                    .text('Dokumentumok')
                    .on('dxclick', function () {
                        var currentRow=$(this).closest("tr");
                        var ingatlanId = currentRow.find("td:eq(35)").text();
                        window.open('/doc/ingatlan/' + ingatlanId + '/0/doclist/', '_blank');
                    })
                    .appendTo(container);
                }
        },
		],
        onSelectionChanged: function (selectedItems) {
            var data = selectedItems.selectedRowsData[0];
        }
    }).dxDataGrid('instance');
});
</script>
{% endblock %}