{% extends "szabalyozok/riport_api_layout.html" %}

{% block content %}
<h2 style="margin-left:20px;">Szabályozó riport</h2>
    <div class="apply-filter-option">
        <div id="useFilterApplyButton"></div>
    </div>
    <div id="gridContainer"></div>
    <div class="options">
        <div>
            <div id="filterRow"></div>
        </div>
        <div>
            <div id="headerFilter"></div>
        </div>
    </div>
<script>
var szabalyozok = {{szabalyozok|safe}};

$(function(){
    var dataGrid = $("#gridContainer").dxDataGrid({
        dataSource: szabalyozok,
        key: 'id',
        allowColumnResizing: true,
        paging: {
            pageSize: 20
        },
        pager: {
            showPageSizeSelector: true,
            allowedPageSizes: [20, 50, 100],
            showInfo: true
        },
        selection: {
            mode: "single"
        },
        "export": {
            enabled: true,
            fileName: "Szabályozók riport",
            allowExportSelectedData: true
        },
        filterRow: {
            visible: true,
            applyFilter: "auto"
        },
        searchPanel: {
            visible: true,
            width: 240,
            placeholder: "Keresés..."
        },
        headerFilter: {
            visible: true
        },
        columns: [
		 {
		    caption: "Művelet",
			width: 100,
            alignment: 'center',
            cellTemplate: function (container, options) {
                $('<a/>').addClass('dx-link')
                    .text('Mutat')
                    .on('dxclick', function () {
                        var currentRow=$(this).closest("tr");
                        var customerId = currentRow.find("td:eq(46)").text();
                        window.open('/szabalyozok/'+ customerId +'/show/','_blank');
                    })
                    .appendTo(container);
                }
        },
		 {
            caption: "Aktiv",
			width: 80,
            dataField: "aktiv",
			dataType: "boolean",
        },
        {
            dataField: "azonosito",
            width: 100,
            caption: "Azonosító kód",
        },
        {
            dataField: "grass_az",
            width: 100,
            caption: "Grass azonosító",
        },
        {
            dataField: "sap_pm_az",
            width: 250,
            caption: "SAP PM azonosító",
        },
        {
            dataField: "eszkozszam",
            width: 100,
            caption: "Eszközszám",
        },
        {
            dataField: "beruhazasi_szam",
            width: 100,
            caption: "Beruházási jelzőszám",
        },
        {
            dataField: "allomas_nev",
            width: 300,
            caption: "Állomás neve",
            headerFilter: {
                groupInterval: 10000
		}},
        {
            dataField: "terulet",
            width: 100,
            caption: "Terület",
        },
        {
            dataField: "uzem",
            width: 130,
            caption: "Üzem",
        },
        {
            dataField: "atado",
            width: 100,
            caption: "Átadó",
        },
        {
            dataField: "telepules",
            width: 150,
            caption: "Település",
        },
        {
            dataField: "hrsz",
            width: 100,
            caption: "HRSZ",
        },
        {
            dataField: "telepules_kod",
            width: 80,
            caption: "Telepüés kód",
        },
        {
            dataField: "telepites_ev",
            width: 80,
            caption: "Telepítés éve",
            dataType: "number",
        },
        {
            dataField: "tartozekgyarto",
            width: 180,
            caption: "Állomás gyártó",
        },
        {
            dataField: "szabkarb",
            width: 100,
            caption: "Szabályozó kabantartó",
        },
        {
            dataField: "kivitel",
            width: 80,
            caption: "Kivitel",
        },
        {
            dataField: "elhelyezes",
            width: 80,
            caption: "Elhelyezés",
        },
        {
            dataField: "funkcio",
            width: 80,
            caption: "Funkció",
        },
        {
            dataField: "tulajdonjog",
            width: 80,
            caption: "Berendezés tulajdonjoga",
        },
        {
            dataField: "tulajdonos",
            width: 150,
            caption: "Berendezés tulajdonosa",
        },
        {
            dataField: "nev_prim_nyom",
            width: 80,
            caption: "Névleges primer nyomás (bar)",
            dataType: "number",
        },
        {
            dataField: "nev_sek_nyom",
            width: 80,
            caption: "Névleges szekunder nyomás (bar)",
            dataType: "number",
        },
        {
            dataField: "uz_prim_nyom",
            width: 80,
            caption: "Üzemi primer nyomás (bar)",
            dataType: "number",
        },
        {
            dataField: "uz_sek_nyom",
            width: 80,
            caption: "Üzemi szekunder nyomás (bar)",
            dataType: "number",
        },
        {
            dataField: "nev_kapacitas",
            width: 80,
            caption: "Névleges kapacitás (m3/h)",
            dataType: "number",
        },
        {
            dataField: "nyom_din_rendszer",
            width: 80,
            caption: "Nyomásdinamizálásba bevont rendszer",
			format: "boolean",
        },
        {
            dataField: "futott",
            width: 80,
            caption: "Fűtött",
        },
        {
            dataField: "rb_zona",
            width: 80,
            caption: "RB zóna",
        },
        {
            dataField: "felugyeleti_rendszer",
            width: 80,
            caption: "Felügyeleti rendszer",
        },
        {
            dataField: "villamvedelem",
            width: 100,
            caption: "Villámvéfelmi besolorlás",
        },
        {
            dataField: "villamvedelem_ev",
            width: 100,
            caption: "Villámvédelem-től",
            dataType: "date",
            format: "yyyy-MM-dd",
        },
        {
            dataField: "villamvedelem_kov_ev",
            width: 100,
            caption: "Villámvédelem-ig",
            dataType: "date",
            format: "yyyy-MM-dd",
        },
        {
            dataField: "villamvedelem_szint",
            width: 150,
            caption: "Villámvédelem szintje",
        },
        {
            dataField: "karbantartas_2ev",
            width: 80,
            caption: "2 éves karbantartás",
        },
        {
            dataField: "karbantartas_10ev",
            width: 80,
            caption: "10 éves karbantartás",
        },
        {
            dataField: "ellatott",
            width: 200,
            caption: "Ellátott települések",
        },
        {
            dataField: "osszedolg-szab",
            width: 150,
            caption: "Összedolgozó szabályozók",
        },
        {
            dataField: "ossz_terulet",
            width: 80,
            caption: "Összes terület (m2)",
        },
        {
            dataField: "fuves_terulet",
            width: 80,
            caption: "Füves terület (m2)",
        },
        {
            dataField: "burkolt_terulet",
            width: 80,
            caption: "Burkolt terület (m2)",
        },
        {
            dataField: "gps_lat",
            width: 100,
            caption: "GPS Szélesség",
        },
        {
            dataField: "gps_long",
            width: 100,
            caption: "GPS hosszúság",
        },
        {
            dataField: "ellenorzesiciklus",
            width: 100,
            caption: "Ellenőrzési ciklus",
        },
        {
            dataField: "megjegyzes",
            width: 300,
            caption: "Megjegyzés",
        },
		 {
            caption: "ID",
			width: 60,
            dataField: "id",
        },
		 {
		    caption: "Dokumentumok",
			width: 120,
            alignment: 'center',
            cellTemplate: function (container, options) {
                $('<a/>').addClass('dx-link')
                    .text('Dokumentumok')
                    .on('dxclick', function () {
                        var currentRow=$(this).closest("tr");
                        var customerId = currentRow.find("td:eq(46)").text();
                        window.open('/riport/szab/' + customerId + '/simple_doc_list/', '_blank');
                    })
                    .appendTo(container);
                }
        },
		],
        onSelectionChanged: function (selectedItems) {
            var data = selectedItems.selectedRowsData[0];
        }
    }).dxDataGrid('instance');

});
</script>
{% endblock %}