{% extends "szabalyozok/layout.html" %}

{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'szabalyozo_show' pk=szabid %}">Alapadatok</a></li>
        <li role="presentation"><a href="{% url 'szabtart_show' pk=szabid %}">Tartozékok</a></li>
        <li role="presentation"><a href="{% url 'diagnosztika' pk=szabid %}">Beszabályozás</a></li>
        <li role="presentation" class="active"><a href="#">Szab. munkavégzés</a></li>
    </ul>
    <div class="col-md-6">
        <h3>{{ szabnev }} munkavégzései</h3>
        <br>
        <p>
            <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'szabmunka_new' pk=szabid %}'">Új munkavégzés</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'szabalyozo_edit' pk=szabid %}'">Szabályozó módosítása</button></a>
            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'tartozek_beki' pk=szabid %}'">Tartozék módosítása</button></a>
            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'muszer_beki' pk=szabid %}'">Műszer módosítása</button></a>
            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'diagnosztika_new' pk=szabid %}'">Új beszabályozás</button></a>
        </p>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Munkatípus</th>
                    <th>Időpontja</th>
                    <th>Megjegyzes</th>
                    <th>Művelet</th>
                    <th>Egyéb</th>
                </tr>
            </thead>
            <tbody>
                {% for munkak in szabmunkak %}
                    <tr>
                        <td>{{ munkak.szabalyozomunkatipus }}</td>
                        <td>{{ munkak.szabmunka_datum }} </td>
                        <td>{% if munkak.megjegyzes %} {{ munkak.megjegyzes }} {% endif %}</td>
                        <td>
                            <a href="{% url 'szabmunka_edit' pk=munkak.id spk=szabid %}">Szerkeszt</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" onclick="window.location.href='{% url 'doc_list' tip='szabmunkak' eszid=munkak.id spk=szabid %}'">Dokumentumok</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}