{% extends "szabalyozok/layout.html" %}

{% block content %}
    <div class="col-md-8">
        <h3 class="text-left">{{ szabnev }} tartozék archívum (utolsó 15 bejegyzés)</h3>    <br>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                       <th>Tartozék fajtája</th>
                        <th>Gyártó</th>
                        <th>Típusa</th>
                        <th>Elhelyezkedés</th>
                        <th>Beszerelés dátuma</th>
                        <th>Kiszerelés dátuma</th>
                        <th>Megjegyzés</th>
                </tr>
            </thead>
            <tbody>
                {% for tartozek in tartozekok %}
                    <tr>
                            <td>{{ tartozek.tartozek.tartozektipus.tartozekfajta }}</td>
                            <td>{{ tartozek.tartozek.tartozektipus.tartozekgyarto }}</td>
                            <td>{{ tartozek.tartozek.tartozektipus }}</td>
                            <td>{{ tartozek.tartozek.elhelyezkedes }}</td>
                            <td>{{ tartozek.beszereles_datum }}</td>
                            <td>{{ tartozek.kiszereles_datum }}</td>
                            <td>{% if tartozek.megjegyzes %} {{ tartozek.megjegyzes }} {% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}