{% extends "szabalyozok/layout.html" %}


{% block content %}

<h3 style="margin-left:40px;">Tartozék létrehozása</h3><br>

<div style="margin-left:40px;" class="col-md-6">
    {% load bootstrap3 %}
    <form method="POST" class="form-horizontal" role="form">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <button type="submit" class="save btn btn-primary">Létrehozás</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $("#id_tartozektipus").empty();

    $('#id_tartozekfajta').change(function(){
        api();
    })

    $('#id_tartozekgyarto').change(function(){
        api();
    })

    function api() {
        gy_id = $('#id_tartozekgyarto').val();
        fa_id = $('#id_tartozekfajta').val();
        if (gy_id == '' | fa_id == '') {$("#id_tartozektipus").empty(); gy_id=0; fa_id=0;};
        request_url = '/api/' + fa_id + '/'+ gy_id +'/get_tartozektipus/',
        $.ajax({
            url: request_url,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data){
            $("#id_tartozektipus").empty();
            $.each(data, function(key, value){
                $('#id_tartozektipus').append('<option value="' + value.id + '">' + value.tartozektipus +'</option>');
                });
            }
        })
    }
});
</script>
{% endblock %}